@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue-webfont.eot");
  src: url("../fonts/BebasNeue-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/BebasNeue-webfont.woff") format('woff'), url("../fonts/BebasNeue-webfont.ttf") format('truetype'), url("../fonts/BebasNeue-webfont.svg#BebasNeueRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Chalk';
  src: url("../fonts/chalkduster-webfont.eot");
  src: url("../fonts/chalkduster-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/chalkduster-webfont.woff") format('woff'), url("../fonts/chalkduster-webfont.ttf") format('truetype'), url("../fonts/chalkduster-webfont.svg#BebasNeueRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  z-index: 1;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background: #fff;
  overflow-x: hidden;
}
#wrapper {
  height: 100%;
}
#scroller {
  height: 100%;
}
#navigation {
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 4px 15px rgba(0,0,0,0.07);
  height: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  z-index: 99999;
}
#navigation > .container {
  height: 100%;
}
#navigation > .container > .branding {
  display: inline-block;
  height: 100%;
}
#navigation > .container > .branding:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#navigation > .container > .branding h1.logo,
#navigation > .container > .branding img.logo {
  display: inline-block;
  font: 2em BebasNeue;
  margin: 0;
  vertical-align: middle;
}
#primary-nav {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
#primary-nav > li {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
  font: 1.6em BebasNeue;
  text-align: center;
}
#primary-nav > li:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#primary-nav > li a {
  color: #333;
  text-shadow: 0 1px 0 #ccc;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#primary-nav > li a:hover {
  color: #ffd600;
  text-decoration: none;
}
#mobile-nav {
  display: none;
  position: relative;
}
#scroller.landing div[class*='screen-'] h1 {
  text-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}
#scroller.landing div[class*='screen-'] p {
  color: #ededed;
  font-size: 1.5em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
div[class*='screen-'] {
  background-color: #fff;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
div[class*='screen-'] > .container > h1 {
  border-bottom: 1px solid #dfdfdf;
  font: 5em Helvetica Neue;
  font-weight: 500;
  margin: 20px 0 20px 0;
  text-align: center;
}
div[class*='screen-'] > .container > h1.title {
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: left;
}
div[class*='screen-'] > .container div[class*='col-md'] .vector {
  position: absolute;
  top: 0;
  width: 100%;
}
div[class*='screen-'] > img.banner {
  position: absolute;
  left: 0;
  margin-top: -50%;
  width: 100%;
}
div[class*='screen-'] > .container div[class*='col-md'] > h1.title {
  display: inline-block;
  color: #fff;
  font: 7em Helvetica Neue;
  font-weight: 500;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: left;
}
div[class*='screen-'] > .container div[class*='col-md'] > h1.title.medium {
  font-size: 5em;
  text-shadow: 0 2px 5px rgba(0,0,0,0.3) !important;
}
div[class*='screen-'] > .container div[class*='col-md'] > p {
  color: #888;
  font: 1em Helvetica Neue;
  text-align: justify;
  text-indent: 80px;
  padding: 15px;
}
div[class*='screen-'] > .container div[class*='col-md'] > p > h1 {
  border-bottom: 1px solid #dfdfdf;
  font: 3em BebasNeue;
  font-weight: 500;
}
div[class*='screen-'] > .container div[class*='col-md'] > p .btn-large {
  min-width: 200px;
  min-width: auto;
  height: 60px;
  font: 1em Helvetica Neue;
  float: right;
  font-weight: 500;
}
div[class*='screen-'] > .container div[class*='col-md'] > p.dark {
  color: #392212 !important;
  text-shadow: none !important;
  font-weight: 500;
}
div[class*='screen-'] > .container div[class*='col-md'] > p.lead {
  font-size: 2.4em !important;
}
div[class*='screen-'].banner {
  background-size: cover;
  background-position: center center;
  height: 300px;
}
div[class*='screen-'].banner .container > h1 {
  border: 0;
  font: 7em Helvetica Neue;
  font-weight: 500;
}
div[class*='screen-'].banner.medium {
  height: 500px;
}
div[class*='screen-'].forms label {
  font: 2em BebasNeue;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
div[class*='screen-'].light {
    
  background-color: #f5f5f5;
  margin-bottom: 0;
}
div[class*='screen-'].light > h1 {
    width: 100%;
  border-bottom: 1px solid #fff;
}
div[class*='screen-']:nth-last-child(2) {
  padding-bottom: 80px;
  margin-bottom: 0;
}
.footer {
  background: #333;
  border-top: 1px solid #000;
  color: #fff;
  height: 60px;
}
.footer > .container {
  text-align: center;
}
.footer > .container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.footer > .container p {
  word-wrap: break-word;
  margin-bottom: 0;
}
.overlay {
  background: rgba(255,214,0,0.8);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.btn-casa {
  background: #ebd72d;
  border: 1px solid #e5d01a;
  color: #000;
  margin-top: 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn-casa:hover {
  background: #ffe508;
  border: 1px solid #ecd512;
}
.btn-casa > i[class*='icon-'] {
  margin: 0 5px;
}
.btn-casa.dark {
  background: #392212;
  color: #ccc;
  border: 0;
}
.btn-casa.dark:hover {
  background: #37261a;
  color: #fff;
}
#edu-banner {
  background-image: url("../images/education.jpg");
}
#edu-register {
  background-image: url("../images/banner.jpg");
}
#edu-register .overlay {
  background: rgba(255,255,255,0.8) !important;
}
#edu-register form .btn-large {
  width: 100%;
  height: 60px;
  font: 2em BebasNeue;
}
#home {
  background-image: url("../images/home-bg.jpg");
  height: 100%;
  overflow: hidden;
}
#home .overlay {
  background: rgba(0,0,0,0.8);
}
#peace {
  background-color: #ededed;
  overflow: hidden;
}
#peace > .container div[class*='col-md'] > h1.title {
  border: 0;
  display: block;
  color: #162b0e;
  font: 7em Chalk;
  line-height: 300px;
  text-align: center;
  text-shadow: none;
}
#peace .vector {
  position: absolute;
  right: 0;
  height: 120%;
  top: 80%;
}
#peace .overlay {
  background: rgba(255,255,255,0.7);
}
#kapihan {
  background-image: url("../images/kapihan-bg.jpg");
  overflow: hidden;
}
#kapihan .overlay {
  background: rgba(22,43,14,0.8);
}
#kapihan .hand {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 80%;
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 999;
}
#arts {
  background-image: url("../images/museum.jpg");
  overflow: hidden;
}
#contact {
  background-image: url("../images/casa-house.jpg");
  overflow: hidden;
}
#education {
  background-image: url("../images/education-bg.jpg");
  overflow: hidden;
}
#education .hand {
  height: 80%;
  position: absolute;
  top: 0;
  right: -10%;
  z-index: 999;
}
#education .overlay {
  background: rgba(71,31,19,0.8);
}
#enterprise {
  background-image: url("../images/enterprise-bg.jpg");
  overflow: hidden;
}
#enterprise .overlay {
  background-color: rgba(51,103,51,0.8);
}
#ensemble {
  background-image: url("../images/ensemble-bg.jpg");
  overflow: hidden;
}
#ensemble .overlay {
  background: rgba(71,31,19,0.8);
}
#community {
  background-image: url("../images/vectors/banner.png");
  overflow: hidden;
}
#community-content {
  background-color: #162b0e;
}
#community-content h1 {
  color: #fff;
  font: 5em Chalk;
  text-align: center;
  text-shadow: none !important;
  line-height: 1em;
  height: 100%;
  position: absolute;
  top: 25%;
  width: 100%;
}
#community-content .vector {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
#support {
  background-image: url("../images/home-bg.jpg");
  height: 100%;
  overflow: hidden;
}
#support .overlay {
  background: rgba(0,0,0,0.8);
}
#support .vector {
  display: inline-block;
  top: 50%;
}
#hotel {
  background-image: url("../images/hotel-bg.jpg");
  height: 100%;
  overflow: hidden;
}
#hotel .overlay {
  background: rgba(193,77,0,0.8);
}
#museum {
  background-image: url("../images/museum.jpg");
  height: 100%;
  overflow: hidden;
}
#museum .overlay {
  background: rgba(43,73,58,0.8);
}
#resto {
  background-image: url("../images/casa-food.jpg");
  height: 100%;
  overflow: hidden;
}
#resto .overlay {
  background: rgba(255,203,79,0.8);
}
#sponsors h1 {
  color: #222;
  font-size: 7em;
  text-align: center;
  text-shadow: none !important;
  padding-top: 20px;
  line-height: 1em;
  height: 100%;
  text-align: center;
  width: 100%;
}
#sponsors > .container {
  text-align: center;
}
@media screen and (max-width: 960px) {
  #community-content h1 {
    font-size: 4em;
  }
}
button.scrolldown {
  background: url("../images/down.png") center center no-repeat;
  border: 0;
  outline: none;
  text-indent: -9999px;
  background-size: cover;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 100px;
  z-index: 999;
  left: 50%;
  margin-left: -30px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
button.scrolldown.dark {
  background-image: url("../images/down-dark.png");
}
button.scrolldown:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.lead.green {
  color: #cfc !important;
}
.lead.orange {
  color: #fc9 !important;
}
.lead.black {
  color: #999 !important;
}
.lead.yellow {
  color: #392212 !important;
}
